{% extends 'pages/base.html' %}
{% block content %}

<div class="container">
  {% if user.is_authenticated %}
  <h1>WHAT IT DOO, {{user.username}}!</h1>
  <a href="{% url 'logout' %}" style="color:white"><button type="button" class="btn btn-primary">Logout</button></a>

  {% else %}
  <h1>Hi, You are not logged in yet</h1>
  <a href="{% url 'login' %}" style="color:white"><button type="button" class="btn btn-primary">Login</button></a>
  <a href="{% url 'register' %}" style="color:white"><button type="button" class="btn btn-primary">Register</button></a>

  {% endif %}
</div>
{% endblock %}