{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="mainform">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Log In</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-info">Login</button>
      </div>
    </form>

    <div class="border-top pt-3">
      <small class="text-muted">Don't Have An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Here!</a></small>
    </div>
  </div>
</div>
{% endblock content %}